.advantages__list {
  @include list-reset;
  display: grid;
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.advantages__item-wrapper {
  background: #81b3d2;
  color: #ffffff;
}

.advantages__slogan,
.advantages__title {
  @include font-bold;
}

.advantages__number,
.advantages__description {
  @include font-normal;
}

.advantages__item-city {
  display: grid;
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-column: span 3;

    .advantages__menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column: span 3;
    }
  }
}

.advantages__city-img {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
    max-height: 256px;
  }
}

.advantages__item-bridge {
  display: grid;
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-column: span 3;

    .advantages__bridge-img {
      grid-column: span 2;
      max-height: 256px;
    }
  }
}
.advantages__item-territory,
.advantages__item-road,
.advantages__item-tourists {
  background: #eeeeee;
}
