.catalog-content__text {
  position: absolute;
  width: 230px;
  height: 40px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 78px;
  }
}

.catalog-content__cover {
  position: relative;
}

.catalog-content__arrow-left {
  position: absolute;
  top: 148px;
  left: -129px;
  @media (min-width: $tablet-width) {
    width: 600px;
    height: 57px;
    top: 290px;
    left: -210px;
  }
  @media (min-width: $desktop-width) {
    top: 301px;
    left: 0;
  }
}

.catalog-content__arrow-right {
  position: absolute;
  top: 148px;
  right: -125px;
  @media (min-width: $tablet-width) {
    width: 600px;
    height: 57px;
    top: 290px;
    right: -210px;
  }
  @media (min-width: $desktop-width) {
    top: 301px;
    right: 0;
  }
}

.catalog-content__name {
  @include font-bold;
}

.catalog-content__description {
  @include font-normal;
}

.catalog-content__list {
  @include list-reset;
}

.catalog-content__video-wrapper {
  position: relative;
}

.play {
  position: absolute;
  width: 48px;
  height: 54px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
