.contacts {
  @media (min-width: $tablet-width) {
    width: 50%;
    padding-right: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-right: 0px;
  }
}

.contacts__title {
  @include font-bold;
  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 30px;
  }
}

.contacts__label {
  @include font-normal;
  margin-left: 16px;
}

.contacts__input {
  width: 100%;
  height: 60px;
  background: #f2f2f2;
  border: none;
  padding-left: 16px;
  padding-top: 4px;
  margin-bottom: 14px;
  color: #000;

  &:hover {
    background-color: #e5e5e5;
  }
}

.contacts__input::placeholder {
  vertical-align: middle;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.contacts__input-container {
  position: relative;
}

.contacts-phone {
  width: 58px;
  height: 58px;
  background: #e6e6e6;
  position: absolute;
  top: 0px;
  right: 0px;
}

.contacts-mail-wrapper {
  width: 58px;
  height: 58px;
  background: #e6e6e6;
  position: absolute;
  top: 0px;
  right: 0px;
}

.contacts-mail {
  width: 17px;
  height: 20px;
  position: absolute;
  top: 17px;
  right: 21px;
}
