.find-hotel__title {
  @include font-bold;
}

.find-hotel__description {
  @include font-normal;
}

.find-hotel__wrapper {
  position: relative;
}

.find-hotel__marker {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 200px;
  left: 185px;
  @media (min-width: $tablet-width) {
    top: 450px;
    left: 400px;
  }
  @media (min-width: $desktop-width) {
    top: 800px;
    left: 650px;
  }
}

.find-hotel__find {
  display: block;
  margin: 0 auto;
  background: #81b3d2;
  color: #ffffff;
  width: 284px;
  height: 58px;
  border: none;
  @include font-bold;
  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
