.find-hotel__title {
  @include font-bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
  }
}

.find-hotel__description {
  @include font-normal;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 396px;
  }
}

.find-hotel__wrapper {
  position: relative;
  margin-top: 47px;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
  }
}

.find-hotel__marker {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 163px;
  left: 148px;

  @media (min-width: $tablet-width) {
    top: 167px;
    left: 372px;
  }

  @media (min-width: $desktop-width) {
    top: 161px;
    left: 586px;
  }
}

.find-hotel__find {
  @include font-bold;
  display: block;
  margin: 0 auto;
  background: #81b3d2;
  color: #ffffff;
  width: 284px;
  height: 58px;
  border: none;
  margin-top: 34px;

  &:hover {
    background: #669ec0;
  }

  &:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    width: 458px;
    margin-top: 47px;
  }
}
