.page-footer {
  padding-top: 17px;
  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
  }
}

.page-footer--form {
  @media (min-width: $tablet-width) {
    padding-top: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 88px;
  }
}

.page-footer--catalog {
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 103px;
  }
}

.page-footer__hashtag {
  font-size: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 5px;
  }
}

.page-footer__visit {
  @include font-bold;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 961px;
    justify-content: space-between;
    margin: 0 auto;
  }
}
