.rate__label-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.rate__title {
  @include font-bold;
}

.rate__label {
  display: flex;
  align-items: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}

.rate__input {
  width: 46px;
  height: 46px;
  border-radius: 50px;
}
