.textarea__title {
  @include font-bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-top: 12px;
    margin-bottom: 28px;
  }
}

.textarea__text {
  background: #f2f2f2;
  border: none;
  width: 100%;
  min-height: 152px;
  padding-top: 18px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 648px;
    height: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    height: 160px;
  }
}

.textarea__text::placeholder {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
