.visit__title {
  @include font-bold;
}

.visit__label-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.visit__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: flex-start;
  @media (min-width: $tablet-width) {
    width: 50%;
  }
  @media (min-width: $desktop-width) {
    width: 25%;
  }
}
